<nav class="nav">
  <a href="/">Home</a>
  <a href="/comments">Comments</a>

  {{#if user}}
    <span class="pill">Logged in as: {{user}}</span>
    <a href="/comment/new">New Comment</a>
    <form class="inline" method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  {{/if}}
</nav>