{{!-- views/home.hbs --}}
{{#if currentUser}}
  <p>Welcome back, {{currentUser.username}}!</p>
  <a href="/forum">Go to the forum</a>
{{else}}
  <h1>🤠 Wild West Forum</h1>
  <a href="/register">Register</a> or
  <a href="/login">Log in</a>
{{/if}}